.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-300px {
  height: 300px;
}

.object-fit-cover {
  object-fit: cover;
}

.radius-10px {
  border-radius: 10px;
}
