.presentation-law {
  display: flex;
}

.tag-law {
  display: inline-block;
  font-size: 13px;
  padding: 6px 17px;
  color: #f38181;
  border: 1px solid #f38181;
  margin: 15px 0px 15px 0px;
   &:hover {
    text-decoration: none;
    color:#ffebea;
   }
}
