.title-law {
  display: flex;
}

.tag-law {
  display: inline-block;
  font-size: 13px;
  padding: 6px 0px;
  color: #f38181;
  margin: 15px 0px 15px 0px;
  font-size: 18px;
   &:hover {
    text-decoration: none;
    color:#ffebea;
   }
}

.general-law {
  display:flex;
  margin-top: 30px;
}

.description-law {
  width: 75%;
}

.law-author {
  display: flex;
  margin-top: 12px;
}

.law-author a {
  display: inline-block;
}
