<div class="banner_pages">
  <%= render 'shared/navbar' %>
  <ul>
  </ul>
</div>

<div class="container-grid">
  <h1 class="centered grey margin-t-40 margin-b-40">Fiche Député</h1>
  <%= render 'shared/grid_show_representatives' %>
</div>

<div class="container">
<h3 class="centered grey margin-t-40 margin-b-40 title-3">Propositions déposées</h3>
  <% @laws.first(6).each do |law|%>
    <%= render 'shared/card_law', law: law %>
  <% end %>
</div>




<%# .truc {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  grid-template-areas: "special main1a main2a main2a"
                       "special main1b main2b main3c";

}
.truc-dpv {
  grid-area: special;
} %>


