<div class="banner_pages">
  <%= render 'shared/navbar' %>
  <h1>Fiche Député</h1>
  <ul>
  </ul>
</div>

<div class="container-grid">
  <%= render 'shared/grid_show_representatives' %>
</div>
<div class="container">
  <% @laws.first(6).each do |law|%>
    <%= render 'shared/card_law', law: law %>
  <% end %>
</div>




<%# .truc {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  grid-template-areas: "special main1a main2a main2a"
                       "special main1b main2b main3c";

}
.truc-dpv {
  grid-area: special;
} %>


