  <div class="grid-depute">
    <div class="card-photo-parti">
      <div class= "card-feature">
        <canvas id="myChart" data-presence="<%= @depute_semaines_presence %>"></canvas>
      </div>
    </div>
    <div class="card-mandats">
      <div class= "card-feature">
        <canvas id="myBarChart" data-proposition-deposee="<%= @depute_propositions_ecrites %>" data-proposition-signee="<%= @depute_propositions_signees %>"></canvas>
      </div>
    </div>
    <div class="card-presence_an">
      <div class= "card-feature">
      </div>
    </div>
    <div class="card-presence_an">
      <div class= "card-feature">
      </div>
    </div>
    <div class="card-amendements-questions">
      <div class= "card-feature">
      </div>
    </div>
    <div class="card-infos">
      <div class= "card-feature">
      </div>
    </div>
    <div class="card-missions">
      <div class= "card-feature">
      </div>
    </div>
    <div class="card-collaborateurs">
      <div class= "card-feature">
      </div>
    </div>
    <div class="card-decla-interet">
      <div class= "card-feature">
      </div>
    </div>
  </div>
