
  <div class="grid-depute">
    <div class="card-depute-photo">
      <div class= "card-feature">
      </div>
    </div>
    <div class="card-mandats">
      <div class= "card-feature">
      </div>
    </div>
    <div class="card-presence_an">
      <div class= "card-feature">
      </div>
    </div>
    <div class="card-presence_an">
      <div class= "card-feature">
      </div>
    </div>
    <div class="card-amendements-questions">
      <div class= "card-feature">
      </div>
    </div>
    <div class="card-infos">
      <div class= "card-feature">
      </div>
    </div>
    <div class="card-missions">
      <div class= "card-feature">
      </div>
    </div>
    <div class="card-collaborateurs">
      <div class= "card-feature">
      </div>
    </div>
    <div class="card-decla-interet">
      <div class= "card-feature">
      </div>
    </div>
  </div>
