<div class="grid-depute">
  <div class="card-photo-parti">
    <div class="card-feature">
      <%= image_tag "https://www.nosdeputes.fr/depute/photo/#{@representative.slug}/200", alt: "Le Wagon", width: 200, class: "img-photo" %>
      <h4><%= @name %></h4>
      <div class="department-district">
        <div class="department">
          <p>
            <%= @representative.department_name %>
          </p>
        </div>
        <div class="district">
          <p>
            <%= @representative.district_num %> ème Circonscritpion
          </p>
        </div>
      </div>
      <a href="#" class="btn-orange">En savoir plus</a>
    </div>
  </div>
  <div class="card-proposition-loi">
    <div class="card-feature">
      <i class="fas fa-gavel"></i>
      <h4>Feature 1</h4>
      <p>Lorem ipsum dolores, lorem ipsum dolores orem ipsum dolores orem ipsum dolores.</p>
      <a href="#" class="btn-orange">En savoir plus</a>
    </div>
  </div>
  <div class="card-mandat-en-cours">
    <div class="card-feature">
      <i class="fas fa-gavel"></i>
      <h4>Feature 1</h4>
      <p>Lorem ipsum dolores, lorem ipsum dolores orem ipsum dolores orem ipsum dolores.</p>
      <a href="#" class="btn-orange">En savoir plus</a>
    </div>
  </div>
  <div class="card-info-sup">
    <div class="card-feature">
      <i class="fas fa-gavel"></i>
      <h4>Feature 1</h4>
      <p>Lorem ipsum dolores, lorem ipsum dolores orem ipsum dolores orem ipsum dolores.</p>
      <a href="#" class="btn-orange">En savoir plus</a>
    </div>
  </div>
  <div class="card-declaration-interest">
    <div class="card-feature">
      <i class="fas fa-gavel"></i>
      <h4>Feature 1</h4>
      <p>Lorem ipsum dolores, lorem ipsum dolores orem ipsum dolores orem ipsum dolores.</p>
      <a href="#" class="btn-orange">En savoir plus</a>
    </div>
  </div>
  <div class="card-collaborators">
    <div class="card-feature">
      <i class="fas fa-gavel"></i>
      <h4>Feature 1</h4>
      <p>Lorem ipsum dolores, lorem ipsum dolores orem ipsum dolores orem ipsum dolores.</p>
      <a href="#" class="btn-orange">En savoir plus</a>
    </div>
  </div>
</div>