<div class="general-law">
    <div class="description-law">
      <h2><%= @law.title %></h2>
      <a href="https://www.assemblee-nationale.fr/14/documents/pion-notice.asp" class="tag-law">
        # <%= @law.source %> <a href="<%= @law.url %>" target="_blank" class="btn-law">Lire le PDF</a>
      </a>
     <p><%= @law.description %>.</p>
    </div>

  <% if current_user %>
   <div class="card-depute">
        <h3>Interpelle ton député</h3>
        <p> photo d'un député </p>
        <p> nom du député </p>
        <a href="<% link_to representative_path %>" class="btn-blue">Contacter</a>
   </div>
    <% else %>
    <% end %>
</div>




