 <%# <% <form action="/representatives/search" method="get">
  <input type="text" placeholder="16 Villa Gaudelet, Paris" class="search-bar">
  <input type="submit" value="search" class="btn-search">
</form>  %> 

 <%= simple_form_for :search, url:  search_representatives_path, method: :get do |f| %>
  <%= f.input :address, placeholder: "16 Villa Gaudelet, Paris", class: 'search-bar' %>
  <%= f.submit "search", class: 'btn-search' %>
<% end %> 





