<div class="container">
  <h2>Features</h2>
  <div class="presentation">
    <div class="card-feature">
     <i class="fas fa-gavel"></i>
      <h3>Feature 1</h3>
      <p>Lorem ipsum dolores, lorem ipsum dolores orem ipsum dolores orem ipsum dolores.</p>
      <a href="#" class="btn-orange">En savoir plus</a>
    </div>
    <div class="card-feature">
      <i class="fas fa-gavel"></i>
      <h3>Feature 1</h3>
      <p>Lorem ipsum dolores, lorem ipsum dolores orem ipsum dolores orem ipsum dolores.</p>
      <a href="#" class="btn-orange">En savoir plus</a>
    </div>
    <div class="card-feature">
      <i class="fas fa-gavel"></i>
      <h3>Feature 1</h3>
      <p>Lorem ipsum dolores, lorem ipsum dolores orem ipsum dolores orem ipsum dolores.</p>
      <a href="#" class="btn-orange">En savoir plus</a>
    </div>
  </div>
</div>


