<div class="banner_pages">
  <%= render 'shared/navbar' %>
</div>

  <div class="container-manifesto">
    <h1 class="grey centered margin-b-60">Manifesto</h1>
    <p>
      "La loi est l'expression de la volonté générale. Tous les citoyens ont droit de concourir personnellement ou par leurs représentants à sa formation."
       Voilà ce que décrètent les représentants du peuple français, constitués en Assemblée nationale, le 26 août 1789 dans l'article 6 de la Déclaration des
       droits de l'Homme et du citoyen.
    </p>

    <p>
      Avance rapide deux siècles et demi plus tard. Les citoyennes et citoyens français ne concourent à l'élaboration de la loi ni personnellement ni par leurs représentants.
      Les raisons sont diverses et multiples, à commencer par les deux insuffisances majeures dont souffre la démocratie française : elle n'est pas assez directe ni suffisamment participative.
    <p>

    <p>
      On demande au peuple de se choisir des représentants à l'Assemblée nationale tous les cinq ans. Puis plus rien. S'ouvre alors une brèche de cinq longues années au cours desquelles
       les citoyennes et citoyens ne sont plus sollicités et où les lois sont votées dans un clair-obscur propice à l'exclusion du peuple des grandes décisions qui façonnent la société dont il
       est l'essence.
    </p>

    <p>
      Autre écueil que notre démocratie n'a su éviter : le lien ténu qui unissait le peuple à ses représentants s'est lentement effilé jusqu'à rompre tout à fait. Nous ne savons que peu de choses de nos représentants et de leurs activités. Et la réciproque est vraie.
    </p>

    <p>Il est temps que tout cela change.</p>

    <p>
      Avec Citizens Can, nous exprimons la volonté de voir le peuple reprendre le pouvoir qui lui était originellement destiné.
    </p>

  </div>
