.avatar {
  border-radius: 50%;
  width: 46px;
  height: 46px;
  box-shadow: 0 0 15px rgb(250, 250, 250);
  object-fit: cover;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-depute {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 15px rgb(250, 250, 250);
  object-fit: cover;
}
