.banner_home {
  background: linear-gradient(to bottom left, #f38181, #EED489);
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position:relative;
  .illustration {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.banner_home p {
  color: #fff;
}

.tagline {
  margin-top: auto;
  margin-bottom: auto;
}


.fa-arrow-circle-down {
  font-size: 50px;
  color: #2F3EAF;
  position: absolute;
  bottom: 30px;
  right: 100px;
}
