.btn-orange {
  background: linear-gradient( to right, #f38181, #EED489);
  background-size: 150% 100%;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  border-radius: 28px;
  transition: all .5s ease;
}

.btn-orange:hover {
  background-position: 100% 0;
  color: #fff;
  text-decoration: none;
}

.btn-search {
  background: lightgrey;
  padding: 15px 15px;
  color: #fff;
  text-decoration: none;
  border-radius: 28px;
  border: none;
}

.btn-search:hover {
  background: lightgrey;
  color: #fff;
}

.btn-search-laws {
  background: lightgrey;
  padding: 16px 15px;
  color: #fff;
  text-decoration: none;
  border-radius: 28px;
  border: none;
  position: absolute;
  top: 41px;
  right: 0px;
}

.btn-like {
  display: inline-block;
  padding: 0.7em 0.8em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #f38181;
  box-shadow: inset inset 0 -0.6em 0 -0.35em #EED489 ;
  text-align: center;
}

.like:hover {
 text-decoration: none;
}
