.card-rep {
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 156px;
    margin: 10px; 
    transition: all .2s ease;
    &:hover {
      transform: scale(1.1);
    }
  }

.card-rep img {
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 2px;
  }

.card-rep h4, .card-rep p {
  padding: 0px 0px 0px 5px;
  margin-top: 0px;
  }

