.card-feature {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 16px 24px;
  padding: 30px 20px;
  text-align: center;
}

.card-feature p {
  margin-bottom: 42px;
}

.fas {
  display: inline-block;
  color: #f38181;
  font-size: 42px;
  border: solid 1px #f38181;
  border-radius: 50%;
  padding: 20px 20px;
}
