.form-login {
  padding: 10px 20px;
  margin: 50px 0px 50px 0px;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 500px;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

.form-container {
  margin: 40px 100px 40px 100px;
  display: flex;
  justify-content: space-around;
}

.form-content {
  flex-grow: 1;
  border: 1px solid rgba(128, 128, 128, 0.438);
  border-radius: 20px 0px 0px 20px;
  padding: 10px 20px 10px 20px;
}

.form-content h2 {
  padding-bottom: 20px;
}

.form-banner {
  background-image: url("https://images.unsplash.com/photo-1599015298371-9c20a5d9cce8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  width: 45%;
  border-radius: 0px 20px 20px 0px;
}

.title-message {
 display:flex;
  h2 {
    margin-left: 20px;
    text-align: center;
  }
}
