.grid-depute {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.card-photo-parti {
  grid-column: 1;
  grid-row: 1;
}

.card-proposition-loi{
  grid-column: 2;
  grid-row: 1;
}

.card-mandat-en-cours {
  grid-column: 3;
  grid-row: 1;
}

.card-info-sup {
  grid-column: 1;
  grid-row: 2;
}

.card-declaration-interest {
  grid-column: 2;
  grid-row: 2;
}

.card-collaborators {
  grid-column: 3;
  grid-row: 2;
}

.img-photo {
  margin-bottom: 10px;
  border-radius: 100px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 50%;
}



.card-proposition-loi {
  .card-feature {
    height: 500px;
    h4 {
      margin-bottom: 10px;
    }
    .fas {
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 25px;
    }
  }
}

.card-photo-parti {
  .card-feature {
    height: 500px;
    h4 {
      margin-bottom: 30px;
    }
    .fas {
      margin-bottom: 10px;
    }
  }
}

.department-district {
  .card-feature {
    height: 500px;
    .fas {
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 42px;
    }
  }
}

.card-mandat-en-cours {
  .card-feature {
    height: 500px;
    p {
  margin-bottom: 42px;
    }
  }
}

.card-info-sup {
  .card-feature {
    height: 500px;
    .fas {
      margin-bottom: 10px;
    }
    p {
  margin-bottom: 30px;
     }
  }
}


.card-declaration-interest {
  .card-feature {
    height: 500px;
    .fas {
      margin-bottom: 5px;
    }
    h4 {
      margin-top: 5px;
    }
  }
}

.card-collaborators {
  .card-feature {
    height: 500px;
    text-align: center;
    .fas {
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 42px;
    }
    ul {
      list-style: none;
      text-align: justify;
      margin-left: 80px;
    }
  }
}


.link-simple {
  text-decoration: none;
  color: rgb(109, 107, 107);
  :hover {
    text-decoration: overline;
  }
}
