.grid-depute {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.card-photo-parti {
  grid-column: 1;
  grid-row: 1;
}

.card-proposition-loi{
  grid-column: 2;
  grid-row: 1;
}

.card-mandat-en-cours {
  grid-column: 3;
  grid-row: 1;
}

.card-info-sup {
  grid-column: 1;
  grid-row: 2;
}

.card-declaration-interest {
  grid-column: 2;
  grid-row: 2;
}

.card-collaborators {
  grid-column: 3;
  grid-row: 2;
}

.img-photo {
  margin-bottom: 10px;
  border-radius: 100px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.department-district {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .department {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
  .district {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);

  }
}