/* Headings de la Homepage */
h1, .title-1 {
  font-family: 'Monoton', cursive;
  color: #fff;
  font-size: 64px;
  margin-bottom: 0;
  word-spacing: 15px;
}

.grey {
  color: #0000009c;
}

.centered {
  text-align: center;
}

.title-2 {
  font-size: 46px;
  font-family: 'Monoton', cursive;
  word-spacing: 15px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.title-3 {
  font-family: 'Monoton', cursive;
  word-spacing: 15px;
  font-size: 36px;
}

/* Headings du reste du site */

h2 {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 900;
  margin: 0;
  color: #00000091;
}

h3 {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 700;
  margin: 0;
  color: #00000091;
}

h4 {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #00000091;
}

p {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  color: #00000091;
}
