h1 {
  font-family: 'Monoton', cursive;
  color: #fff;
  font-size: 64px;
  margin-bottom: 0;
}

h2 {
  font-size: 46px;
  font-family: 'Monoton', cursive;
  word-spacing: 15px;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-family: 'Monoton', cursive;
  word-spacing: 15px;
  font-size: 36px;
}
