nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar {
  background: white;
  height: 25px;
  width: 2px;
  border-radius: 1px;
  margin-right: 24px;
}

.menu p, .menu a {
  font-size: 16px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin-right: 24px;
  margin-bottom: 0;
  margin-top: 0px;
  font-weight: 200;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .3s ease;
  &:hover{
    text-decoration: none;
    color: #ebebeb;
  }
}

// .nav-link:hover {
//   transform: scale(1.1)
// }

.nav-btn {
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all .3s ease;
  &:hover {
    border: 1px solid #ebebeb;
  }
}



.menu .dropdown-menu {
  padding: 10px
}

.menu .dropdown-menu a {
  color:rgba(0, 0, 0, 0.61);
  text-transform: lowercase;
  &:hover {
    color: black;
  }
}



#logo {
  font-family: 'Monoton', cursive;
  font-size: 42px;
  color: #fff;
}

#logo:hover {
  text-decoration: none;
}


