nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu p, .menu a {
  font-size: 16px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin-right: 24px;
  margin-bottom: 0;
  font-weight: 200;
  text-transform: uppercase;
  text-decoration: none;
}

.menu .dropdown-menu {
  padding: 10px
}

.menu .dropdown-menu a {
  color:rgba(0, 0, 0, 0.61);
  text-transform: lowercase;
  &:hover {
    color: black;
  }
}

.menu a:hover {
  text-decoration: none;
  color: #f9f9f9;
}

#logo {
  font-family: 'Monoton', cursive;
  font-size: 42px;
  color: #fff;
}

#logo:hover {
  text-decoration: none;
}

.bar {
  background: white;
  height: 25px;
  width: 2px;
  border-radius: 1px;
  margin-right: 24px;
}

.nav-link {
  transition: all .2s ease-in-out;
}

.nav-link:hover {
  transform: scale(1.1)
}
