nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.menu p {
  font-size: 16px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin-right: 24px;
  font-weight: 200;
  text-transform: uppercase;
}

#logo {
  font-family: 'Monoton', cursive;
  font-size: 32px;
  color: #fff;
  margin-left: 20px;
}
