.searchbar-representatives {
  border: none;
  border-radius: 28px;
  padding: 16px 22px;
  font-size: 14px;
}

.searchbar-laws {
  border: solid 1px lightgrey;
  border-radius: 28px;
  padding: 15px 22px;
  font-size: 16px;
  margin: 40px 0;
  width: 600px;
}

.searchbar-laws-container {
  display: flex;
  justify-content: center;
  padding: 25px 0;
}

.relative {
  position: relative;
}

.ap-input-icon {
    margin-right: 45px;
}

input[type="submit"] {
    z-index: 1;
}

.search-bar-form {
  display: flex;
  width: 400px;
}
