.margin-b-40 {
  margin-bottom: 40px;
}

.margin-t-40 {
  margin-top: 40px;
}

.m-top-10 {
  margin-top: 10px;
}

.margin-b-60 {
  margin-bottom: 60px;
}

.word-spacing-15 {
  word-spacing: 15px;
}

.margin-l-minus-50 {
  margin-left: -50px;
}

.m-top-30 {
  margin-top: 30px;
}
