<h1>Laws</h1>

<% @laws.each do |law| %>
  <%= link_to law_path(law) do %>
    <div class="law-card">
      <h3><%= law.title %></h3>
      <p><%= law.description %></p>
      <p><%= law.source %></p>
    </div>
  <% end %>
<% end %>
